@import "tailwindcss";

@font-face {
  font-family: "Kanit";
  src: url("/portfolio2/src/assets/fonts/Kanit-regular.woff2") format("woff2");
  font-weight: 400 800;
  font-style: normal;
}
:root {
  --principal-color: #323444;
  --secondary-color: #232533;
  --terciary-color: #FEC158;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--principal-color);
}